{% extends 'main.html' %}
{% load static %}

{% block content %}
    <h1>{{title}}</h1>
    <p class="lead">The world is at its utmost crisis moments now. Due to COVID-19 we lost many lives and many have been facing financial crisis all over the world. Economics are down due to pandemic.
        But we can turn back and take the responsibilities to save ourselves. </p>
    {% if request.user.is_authenticated %}
        <a class="btn btn-lg btn-primary" href="{% url 'profile' %}" role="button">Test For COVID19 &raquo;</a>
        <a class="btn btn-lg btn-primary" href="{% url 'profile_details' %}" role="button">See Your Result &raquo;</a>
    {% else %}
        <a class="btn btn-lg btn-primary" href="{% url 'login' %}" role="button">To Test Login First &raquo;</a>
    {% endif %}
    <br>
    <br>
    <h3><strong>Only Superuser can see all the test reports</strong></h3>
{% endblock %}
